<h1 class="font-bold text-5xl text-red-500">Hello World, this is home page, and it looks awesome with tailwindcss</h1>
<p class="text-center text-green-500 pt-10">I'm that I managed to push the changes to the github</p>